{% include "header.twig" %}

  <body class="{{ body_class }}">
    {% include "navbar.twig" %}

    {% block content %}
      Empty!
    {% endblock %}

    {% include 'footer.twig' %}
  </body>
</html>
