<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <title>
      {{ site.name }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ function('wp_head') }}
  </head>
</html>
