<section class="subscribe-bar">
  <div class="container">
    <div class="row flex-vertical-center">
      <div class="col-sm-6">
        <p>
          <p>
            <strong>Want to save 20% on the course?</strong> Enter your email and
            well send you the discount code!
          </p>
        </p>
      </div>
      <div class="col-sm-6">
        <form action="index.html" class="" method="post">
          <div class="row">
            <div class="col-lg-8">
              <input name="test" type="text" value="" />
            </div>
            <div class="col-lg-4">
              <button class="btn btn-invert m-0" name="button" type="button">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
